.base h1{
	background: content-box;
	background-color: #d7e8f9;
	vretical-align: middle;
	height: 75px;
	vertical-align: 10px;
}
.base span{
	float: right;
}
<!-- 次はここを下に動かす -->
.base a{
	float: right;
}
a{
	margin-left: 10%;
	padding-botton: 3px;
}
li{
	margin-left: 5%;
	padding-botton: 3px;
}
p{
	text-align: center;
}
footer{
	text-align: center;
	background-color: #e9eaeb;
    box-sizing: border-box;
}
h2{
	text-align: center;
	background-color: #e9eaeb;
	margin-left: 180px;
	border-radius: 5px;
}
label{
	display: flex;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
    margin: 30px 0;
    padding-top: 30px;
}
.main {
    width: 85%;
    float: right;
}
.create {
    width: 85%;
    float: right;
}
.create label{
	text-align: 40%;
}
.menu{
	display: flex;
}
.sidebar {
  width: 180px;
  float: left;
  border-right: 1px #dddddd solid;
}
.sidebar a{
	line-height: 2;
}
table {
    width: 100%; /* テーブル全体の幅を100%に設定 */
    border-collapse: collapse; /* 境界線の重なりをなくす */
    margin: 20px 0; /* 上下に20ピクセルのマージンを設定 */
}
th, td {
    padding: 10px; /* セル内に10ピクセルのパディングを設定 */
    border: 1px solid #ddd; /* セルの境界線を設定 */
    text-align: left; /* テキストを左揃えに設定 */
}
th {
    background-color: #blue; /* ヘッダーセルの背景色を設定 */
}
.base {
    text-align: center;
    margin: 20px;
}
.error-message {
    text-align: center;
    margin-top: 50px;
}
.error-message h1 {
    display: inline; /* h1の部分をインラインにしてズレを防ぐ */
}
.error-message a {
    display: block; /* aタグをブロック要素にして改行を強制 */
    margin-top: 10px;
}
}

.menu-group {
	padding: 5px 10px;
	margin-block: 5% 2%;

}